body{-webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; -moz-text-size-adjust: 100% !important;}
.div_ref_title{
	font-size:0.8rem;
	color:#999999;
	font-weight:700;
	margin-bottom:0.6rem;
}
.div_ref_paragraph{
	font-size:0.72rem;
	color:#999999;
	text-align:justify;
}